/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    background: transparent;
    background-color: #E6ECF0;
  }
  
  /* TODO: Create CSS for your Twitter Mockup */

header{
  position: fixed;
  top: 0; left:0;
  z-index: 100;
}

.nav-link:hover{
  color: #0091e3 !important;
  text-decoration: underline;
}

.nav-items{
  position: relative;
  left:360px;
  font-weight:bold;
  margin: 0px 10px;
}

.nav-item img{
  transform: translateX(-25%);
  transform: translateY(25%);
  left: 50%;
  position: absolute;
  height: 25px;
  width: 25px;
}

.nav-button{
  position: relative;
  left:275%;
}

#button1{
  border-radius:20px;
}

#content-wrapper{
  max-width: 1190px;
  margin: 56px auto;
  display:flex
}

#content-left{
  position:relative;
  width:290x;
}

#cover-picture{
  position:absolute;
  border:40px solid black;
}

#profile-info{
  position:absolute;
  top:70px;
  left:30px;
}

#profile-pic{
  position:absolute;
  object-fit: cover;
  object-position: center center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top:30px;
  border:3px solid white;
}

#profile-name{
  position:absolute;
  left:125px;
  top:65px;
  text-decoration: underline;
  font-weight: bold;
}

#profile-at{
  position:absolute;
  left:125px;
  top:85px;
  color: #808080
}

#profile-stats{
  position:absolute;
  top:250px;
  font-weight: bold;
  display: flex
}

#profile-tweets{
  position:absolute;
  left:50px;
}

#profile-following{
  position:absolute;
  left:150px;
}

#profile-followers{
  position:absolute;
  left:270px;
}

#profile-tweetsnum{
  position:absolute;
  left:50px;
  top:35px;
}

#profile-followingnum{
  position:absolute;
  left:150px;
  top:35px;
}

#profile-followersnum{
  position:absolute;
  left:270px;
  top:35px;
}

.profile-nums{
  color: #49b3f4
}